@import "variables";

.container {
  width: 90%;

  margin: 20px auto;

  h1 {
    margin-bottom: 50px;
  }

  .image-wrapper {
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

    .image-container {
      padding: 15px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid $border;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;

      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}